/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }

body{
    width: 100%;
    height: 100vh;
}

/*NAVIGATION*/
nav{
    padding: 0 50px;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarfirst{
    background-color: black;
    color: white;
    height: 40px;
    cursor: pointer;
}

.rightnav > div{
    margin-right: 40px;
}

.leftnav > div:hover,
.rightnav > div:hover{
    color: #FFED00;
    transition: all 0.5s;
}

span{
    margin-left: 5px;
}

.navbarsecond{
    background-color: white;
    height: 70px;   
    top: 0;
}
.logo img {
    height: 50px;
    width: auto;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    text-transform:uppercase;
    font-size: 16px;
    margin-left: 30px;
    color: black;
    font-size: 400;
    font-weight: 500;
}
a:hover{
    color: #332BA3;
    font-weight: bold;
}

/*FOOTER*/
